.trial{
    background-color: green;
    padding-left: 10px;
    padding-right: 10px;
}
.classdesk-notification{
    position:fixed;
    height: 35px;
    width:100%;
    background-color:green;
    bottom:0;
    padding: 6px;
    display:none;
}

a {
    cursor: pointer;
}
.link {
    cursor: pointer;
}

.panel{
    cursor: pointer;
    border-radius: 0;
}
.panel:hover{
    /* box-shadow:-2px -2px 1px lightgray; */
}
.name-line{

}
.name-line:hover{
    background-color:lightgrey;
    cursor: pointer;
}

.centered > p, .centered > h3, .centered > h2, .centered > h1, .centered > h4, .centered > h6, .centered > h5{
    text-align:center;
}

/* .panel-default>.panel-heading {
    background-color: white;
} */
#spinner {
    position:fixed;
    margin-left: 48vw;
    margin-top:48vh;
}

#school-name{
    width:300px;
    height:40px;
    padding:5px;
    background-color:lightslategray;
    border: 1px dashed gray;
}

/* .glass-list-group > a > button{
    height: 20px;
    padding: 0 10px;
} */

.list-group-item{
    height: 70;
    padding: 12px;
}

.form-control, .btn{
    border-radius:0;
}

.faint{
    opacity:0.5;
}

#contact-me {
    position: fixed;
    bottom:1em;
    right:1em;
}
